section#conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section#cardapios {
    width: 49%;
}

section#cardapios figure {
    height: 500px;
}

section#cardapios img {
    width: 100%;
    border: 1px solid black;
}

section#info {
    margin: 20px 0;
    width: 49%;
}

section#info article {
    color: white;
    font-weight: 900;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: var(--marsala);
}

ul.regioes {
    list-style-type: none;
}

ul.regioes li {
    display: inline-block;
    text-align: center;    
}

ul.regioes li p {
    text-align: center;
}

ul.regioes ul li {
    list-style-position: outside;
    list-style-type: none;
    display: list-item;

}