.titulo p {
  display: none;
}
  
.conteudo {
  color: var(--fundo);
  font-size: 30px;
  margin: 50px 0;
  display: block;
  text-align: justify;
}
  
.conteudo h3 {
  font-size: 60px;
  padding: 15px 0;
}
  
.conteudo-esquerda {
  width: 50%;
  float: left;
  background-color: var(--marsala);
  padding: 0 10px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  font-family: "Sofia", sans-serif;
}
  
.conteudo-direita {
  width: 50%;
  float: right;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid 2px black;
}
  
.bloco {
  position: relative;
  animation: 1s ease-out 0s 1 slideInRight;
}

.bloco:hover figcaption {
  opacity: 1;
}

.bloco figure img {
  max-width: 80%;
  max-height: 80%;
  transition: 0.3s;
}

.bloco:hover img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s;
}