:root {
  --marsala: rgb(131, 1, 1);
<<<<<<< Updated upstream
  --fundo: rgb(102, 58, 58);
=======
  --fundo: rgb(252, 252, 252);
>>>>>>> Stashed changes
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromAbove {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Sofia", sans-serif;
}

.carousel-caption h5, .carousel-caption p {
  color: var(--marsala);
  font-weight: 900;
  background: rgba(255, 255, 255, .5);
}

body {
  height: 100%;
  margin-left: 2.5%;
}

menu.navbar {
  padding: 0;
  list-style-type: none;
  width: 100%;
  background-color: var(--marsala);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar .btn {
  width: 228px;
  height: 194px;
  transition: 0.3s;
  font-family: "Sofia", sans-serif;
  display: inline-block;
  border-radius: 50%;
  border: none;
}

.navbar .btn:hover {
  font-size: 150%;
<<<<<<< Updated upstream
  transition: 0.3s;
=======
  transition: 0.2s;
>>>>>>> Stashed changes
  color: var(--marsala);
  font-weight: 900;
  border-radius: 0%;
  background-color: white;
}

.carousel-item {
  height: 300px;
  background-color: var(--fundo);
}

.container-fluid {
  background-color: var(--fundo);
  max-width: 95%;
}

.container {
  width: 100%;
  float: inline-start;
}

footer input {
  transition: 0.3s;
  width: 213px;
  height: 100%;
  background-color: var(--marsala);
  color: white;
}

footer input:hover {
  font-size: 150%;
  padding: 5px 20px;
  background-color: var(--fundo);
  color: black;
  border-radius: 25%;
}

header {
  text-align: center;
}

figure {
  position: relative;
  border: 2px solid black;
  width: 500px;
  height: 300px;
  background-color: var(--fundo);
  display: flex;
  justify-content: center;
  align-items: center;
}

figcaption {
  opacity: 0;
  position: absolute;
  top: 0px;
  background-color: rgba(255,255,255,.4);
  color: var(--marsala);
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

#rodape * {
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  font-size: 20px;
  padding: 10px;
}

#rodape a {
  text-decoration: none;
}

.criador {
  display: flex;
  width: 100%;
}

.criador a {
  text-decoration: none;
}

.criador a:hover {
  text-decoration: underline;
  color: var(--marsala);
}